<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Endereço</th>
          <th>Estado</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(function(usuario) { %>
        <tr>
          <td><%= usuario.id %></td>
          <td id="nomeTabela"><%= usuario.nome %></td>
          <td id="sobrenomeTabela"><%= usuario.sobrenome %></td>
          <td id="enderecoTabela"><%= usuario.endereco %></td>
          <td id="estadoTabela"><%= usuario.estado %></td>
          <td>
            <form
              method="post"
              action="/deletar"
              onsubmit="confirmacao(event, this)"
            >
              <button class="botão">Deletar</button>
              <input type="hidden" value="<%= usuario.id %>" name="id" />
            </form>
            <a href="/admin/atualizar/<%= usuario.id %>"><button class="botão" type="button">
              Atualizar
            </button>
        </a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <br>
    <br>
    <a href="/"><button id="botão-enviar" type="button">Voltar</button></a>
  </body>
  <script>
    let id = null;
    document.addEventListener("click", (e) => {
      console.log(e.target.value);
      id = e.target.value;
      atualizar(id);
    });

    function confirmacao(event, form) {
      event.preventDefault();
      const cofirmação = confirm(
        "Deseja deletar esse games do banco de dados?"
      );
      if (cofirmação) {
        form.submit();
      }
    }
  </script>
</html>
